<script type="text/javascript">
  window.images = {
    splashPhoto: "<%= asset_path("splashphoto.jpg") %>",
    fullLogo: "<%= asset_path("fulllogo.svg") %>",
    logo: "<%= asset_path("logo.svg") %>",
  }
</script>
<% if logged_in? %>
  <script id="bootstrap" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
                                   user: current_user).html_safe %>
  </script>
<% end %>
<main id="root">No Reaction</main>
