@keyframes open-menu {
  0% {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  100% {
    overflow: hidden;
    height: 250px;
    width: 250px;
  }
}

@keyframes rainbow-transition {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}
