// Purple
$main-purple: #8a25b1;
$dark-purple: #945bab;
$purle: #b485c7;
$light-purple: #c28cc2;
$lightest-purple: #cfabcf;

//Palette set

$palette-1-white: #F6F0ED;
$palette-1-orange: #FFD6AF;
$palette-1-purple: #c28cc2;
$pallete-1-green: #61988E;
$pallete-1-dark: #493843;

