.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  width: 15%;
  font-size: 13px;
  overflow: hidden;
  z-index: 11;

  background-color: #151b26;
  color: white;
  transition: margin-left 250ms ease-out, transform 250ms ease-out;

  h3 {
    font-size: 20px;
  }

  .menu-separator {
    margin-top: 20px;
  }
  .user-index-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
  }
  .avatar {
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    vertical-align: top;
    background-color: $main-purple;
    color: #fff;
    font-size: 12px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    min-width: 25px;
    margin: 5px;
  }

  .avatar.user-create {
    background-color: transparent;
    border: 1px dashed;
    font-size: 7px;
  }

  .sidebar-header {
    align-items: center;
    display: flex;
    height: 72px;
    justify-content: space-between;

    .nav-logo {
      height: 30%;
    }
  }
  > * {
    padding: 0 10px;
    line-height: 25px;
  }
  .profile-link-group {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .personal-links {
    font-size: 100%;
  }
  .personal-links i {
    color: white;
    font-size: 20px;
    opacity: 0.6;
    transition: opacity 225ms;
    padding: 0 5px;
  }
  .project-create-item,
  .project-index-item {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .project-name {
    padding-left: 5px;
    font-size: 16px;
  }
  .fa-minus {
    display: none;
    margin-right: 10px;
    margin-top: 5px;
  }

  li: {
    width: 100%;
    padding: 0px 5px;
  }
  li:hover .fa-minus {
    display: block;
  }
  .project-row {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }
  li:hover {
    background-color: $dark-purple;
    color: black;
  }
}
.home-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
