.task-index-items {
  display: flex;
  flex-direction: column;
}
.task-row,
.task-create-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  .fa-plus {
    margin-left: 10px;
  }
  .fa-check {
    margin-right: 10px;
  }
  .create-task-name {
    margin-left: 20px;
  }
}

.task-create-item,
.task-row {
  font-size: 14px;
  line-height: 30px;
  width: 800px;
  border-top: $lightest-purple 0.5px solid;
  border-bottom: $lightest-purple 0.5px solid;
  white-space: nowrap;

  *[contenteditable="true"] {
    animation: drop-down-row 1s;
    width: auto;

    height: 30px;
  }
  *[contenteditable="true"]:not(:focus) {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .fa-check {
    color: lightgrey;
    padding: 3px;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 10px;
    transition: color 0.2s;
    font-size: 10px;
  }
  .fa-check:hover {
    color: $light-purple;
    border-color: $light-purple;
  }
  .fa-check.completed {
    opacity: 0.5;
    background: $main-purple;
    border: 1px solid $main-purple;
    border-radius: 50%;
    color: white;
    transition: all 0.5s;
  }
  .fa-check.completed + div {
    color: lightgrey;
    text-decoration: line-through;
    transition: all 0.5s;
  }
}

.rainbow-in {
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: rainbow-transition 1s;
  /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(
    left,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* Standard syntax (must be last) */
}

.task-create-item {
  border-bottom: 0px;
}
