.workspace {
  display: flex;
  flex-direction: row;
  .workspace-content {
    padding-left: 15%;
    width: 100%;
  }
  .workspace-header {
    height: 72px;
    z-index: 10;
    box-shadow: none;
    top: 0;
    position: fixed;
    margin: 0px;
    box-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.08);
    align-items: center;
    justify-content: space-between;
    background: #fff;
    display: flex;
    width: 83%;
    box-sizing: border-box;

    .avatar {
      align-items: center;
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      position: relative;
      vertical-align: top;
      background-color: $main-purple;
      color: #fff;
      font-size: 16px;
      height: 35px;
      width: 35px;
      line-height: 35px;
      min-width: 35px;
    }

    .workspace-header-info {
      padding-left: 3%;
      h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 35px;
        align-items: center;
        color: #151b26;
        min-width: 1px;
        white-space: nowrap;
        display: flex;

        div {
          min-width: 100px;
        }

        div:hover {
          border-radius: 4px;
          border: 2px solid black;
        }
      }
      .workspace-header-description {
        width: 300px;
        display: inline-block;
        position: relative;
        height: 20px;

        .editable-description {
          outline: 0;
          width: auto;
          min-width: 300px;
          white-space: nowrap;
          padding-bottom: 5px;
          display: inline-block;
          overflow: hidden;
          border: none;
        }

        .editable-description:hover {
          border-radius: 4px;
          border: 2px solid black;
        }
        .editable-description:not(:focus) {
          width: 100%;
          margin-bottom: 2px;
          text-overflow: ellipsis;
        }
        *[contenteditable="true"] {
          display: inline-block;
        }
        .editable-description:empty:before {
          content: attr(placeholder);
          color: #aaa;
        }
      }
    }
  }

  .workspace-body {
    background: #fff;
    min-height: 800px;
    max-height: 1000px;
    padding-top: 100px;
    overflow: hidden;
    .wrapper {
      width: 840px;
      margin: 0 auto;
    }
    .project-index-items {
      padding-top: 15px;
      display: flex;
      flex-wrap: wrap;

      a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        color: inherit;
        vertical-align: baseline;
        background: transparent;
        text-decoration: none;
      }
      .project-create-item,
      .project-index-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(246, 248, 249, 0);
        border-radius: 30px;
        height: 220px;
        width: 160px;
        padding: 15px 0;
        box-sizing: border-box;

        transition: 0.5s;
      }
      .project-create-item:hover,
      .project-index-item:hover {
        background-color: #f6f8f9;
        transform: translate3d(0, -5px, 0);
      }
      .project-create-item > .project-tile:hover,
      .project-index-item > .project-tile:hover {
        transform: translate3d(0, -5px, 0);
      }
      .fa-minus {
        display: none;
      }
      .project-tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 100px;
        height: 100px;
        background-color: $purple;
        color: white;
        font-size: 30px;
        transition: 0.5s;
      }
      .project-name {
        box-sizing: border-box;
        margin-top: 8px;
        padding: 0 8px;
        -webkit-box-orient: vertical;
        color: #151b26;
        display: -webkit-box;
        font-size: 15px;
        font-weight: 500;
        -webkit-line-clamp: 2;
        line-height: 16px;
        max-height: 32px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        width: 100%;
      }
      .project-create-item > .project-tile {
        background: none;
        border: 2px dashed;
        color: #6f7782;
      }
    }
  }
}
